.review-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 374px) {
  .review-card {
    flex-direction: column-reverse !important;
  }
}
